<div class="col-md-12 mb2">
  <div class="row">
    <!-- icon -->
    <div class="col-md-2">
      <img class="featured-box-img-cover" src="{% if post.image contains ":/" %}{{ post.image }}
        {% else %}
        {{ site.baseurl }}/{{ post.image }}
        {% endif %}">
    </div>

    <!-- row for title, date and cat -->
    <div class="row">
      <!-- title -->
      <div class="col-md-4">
        <h3 class="card-title">
          <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h3>
        <h5 class="card-text">{{ post.excerpt | strip_html | truncatewords:25 }}</h5>
      </div>

      <!-- cat and date -->
      <div>
        <span class="post-cat">{{ post.categories }}</span>
        <span class="post-date float-right">{{ post.date | date_to_string }}</span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>


<!-- 

  <div class="col-md-4 mb-3">
  <div class="h-100">
    <div class="row h-100">
      <div class="col-md-12">
        <div class="h-100 card-group">

          <div class="card h-100">
            <img class="featured-box-img-cover d-block mx-auto p-2" src="{% if post.image contains ":/" %}{{ post.image }}
            {% else %}
            {{ site.baseurl }}/{{ post.image }}
            {% endif %}">

            <div class="card-body">
              <h3 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">
                  {{ post.title }}
                </a>
              </h3>

              <h5 class="card-text">{{ post.excerpt | strip_html | truncatewords:25 }}</h5>
            </div>

            <div class="card-footer b-0 bg-white mt-auto">
              <div class="wrapfooter">

                <span class="post-cat">{{ post.categories }}</span>

                <span class="post-date float-right">{{ post.date | date_to_string }}</span>


                         <div>
                  <ul class="list-group list-group-horizontal mt-2 mb-2 float-right">
                    {% assign sortedCategories = post.categories | sort %}
                    {% for category in sortedCategories %}
                    <li class="list-group-item p-1">
                      <a href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
                    </li>
                    {% endfor %}
                  </ul>
            

                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->