<footer class="page-footer mx-auto fixed-bottom pt-2 pb-2">

  <!-- footer icons -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="icon-footer" class="d-flex justify-content-center">
            {% for item in site.data.settings.social %}
            <a href="{{ item.link }}" target="_blank"><i class="{{ item.icon }} mx-2" aria-hidden="true"></i></a>
            {% endfor %}
        </div>
      </div>
    </div>
  </div><!-- end of footer icons-->
  <div class="footer-copyright text-center mx-auto px-1">
    {{ site.data.settings.f['footer-article'][page.lang] }}
  
  </div>

</footer>