<header>
  <nav class="navbar navbar-expand-lg navbar-light sticky-top">
    {% for item in site.data.settings.homepage %}
    {% if item.lang == page.lang %}
    <a class="navbar-brand" href="{{ site.github.url }}/{{ item.folder }}/{{ item.file }}"><img class="img-fluid" id="ar-logo"
        src="/assets/images/ar-solid-inver-logo.png" alt="ar-logo"></a>

    {% endif %}
    {% endfor %}



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        {% for item in site.data.settings.menu %}

        {% if item.lang == page.lang %}

        <li class="nav-item">
          <a class="nav-link" href="{{ site.github.url }}/{{ item.folder }}/{{ item.file }}">{{ item.name }}</a>
        </li>

        {% endif %}



        {% endfor %}
      </ul>
    </div>

    
  </nav>
<div class="pb-4">
  <ul class="d-flex flex-row-reverse">
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
    {% for post in posts %}
      <li class="langSelect pl-2">
        <a href="{{ post.url }}" class="{{ post.lang }}">{{ site.data.settings.languages['langOption'][page.lang] }}</a>
      </li>
    {% endfor %}
    
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
    {% for page in pages %}
      <li class="langSelect pl-2">
        <a href="{{ page.url }}" class="{{ page.lang }}">{{ site.data.settings.languages['langOption'][page.lang] }}</a>
      </li>
    {% endfor %}
    </ul>
</div>

</header>