
/* global styles*/
body {
  width: 80vw;
  color: $black-shade1 !important;
}
p {
  font-size: 1.4em !important;  
}

a {
  color: $black-shade1 !important;
  text-decoration: underline !important;
}

a:hover {
  color: $black-shade4 !important
}

#horbar {
  padding-top: 3vh;
  padding-bottom: 2vh;
  opacity: 0.5;
}

/* navbar */
/* logo */

nav {
  font-family: 'Gloria Hallelujah', sans-serif !important;
}

#ar-logo {
  height: auto;
  width: 60px;
}

.navbar-toggler-icon {
  background-image: url(/assets/images/adrianLogos/hbh.svg) !important;
  background-repeat: no-repeat;
}

button.navbar-toggler {
  border: none !important;
  padding: 0 !important;
}

.navbar-toggler-icon {
  width: 2.5em !important;
  height: 2.5em !important;
}


/* language selector*/
.lang {
  ul{
    list-style: none;
    li {
      display: inline-block;
      height: 1.5em;
  
       a {
        font-family: 'Gloria Hallelujah', sans-serif !important;
        padding: 0 5px;
        line-height: 1.7em;
        font-weight: 300;
        text-transform: lowercase;
  
        &.en-US:lang(en-US), &.es-CR:lang(es-CR) {
          font-weight: 700;
          text-transform: uppercase; 
        }
       }
    }
  }
}

/* content */
.content-container {
  position: relative;
  bottom: 10vh;
  width: 80vw !important;
}

/* home page */

#intro {
  font-family: 'Kalam', sans-serif !important;
}

#home-pic {
  max-width: 60vw;
  height: auto;
}


/* blog page content */
.blog-header {
  color: $black-shade4;
  font-weight: 700;
  letter-spacing: .1rem;
  line-height: 1.2rem;
  font-size: .9rem;
  text-align: justify;
  font-family: 'Kalam', sans-serif !important;
}

.card {
  font-family: 'Kalam', sans-serif !important;
}

.featured-box-img-cover {
  width: 15vw !important;
  height: auto;
}


.card-title {
  font-family: 'Gloria Hallelujah', sans-serif !important;
}

.card-text {
  height: auto !important;
}

blockquote {
  width: 70%;
  margin: 35px auto !important;
  border-left: 2px solid black;
  padding-left: 10px;
  font-style: italic;
}


/* featured posts */
.featured-box-img-cover {
  width: 100%;
}


/* blog post */

.post-title {
  font-family: 'Gloria Hallelujah', sans-serif !important;
  font-size: 1.70rem !important;
}

.post-date {
  font-size: 1.1em !important;
}

.post-icon {
  width: 12vw;
  height: auto;
}




.post-data {
  line-height: 1rem;
  padding-bottom: 0;
  font-family: 'Kalam', sans-serif !important;
}

.post-data p{
  margin-bottom: 0;
}

.post-cat {
  text-transform: capitalize !important;
}

#blog-post {
  font-family: 'Kalam', sans-serif !important;
}

#blog-post ul {
  padding-inline-start: 1rem;
}

.blog-img {
  display: flex;
  align-self: center;
  width: 100%;
  margin-bottom: 1rem;
}

/* share box */

.share-icons a {
  margin: .6rem;
}

/* contact */
.icon-social {
  font-size: 1.5em;
}

/* resume */
#res-header {
  font-family: 'Gloria Hallelujah', sans-serif !important;
}

#res-logo {
  width: 10vw;
  padding-bottom: 4px;
}

.down-icon {
  width: 5vw;
  height: auto;
}

#res-body {
  font-family: 'Kalam', sans-serif !important;
}

#pers {
  font-size: .75em;
}

#down-btn {
  padding: 0;
}

#down-btn a {
  text-decoration: none !important;
}
#chrono h6 {
  font-weight: bold;
}

#chrono ul {
  padding-inline-start: 1rem;
}

#contact-info {
  font-family: 'Kalam', sans-serif !important;
}

#contact-info h2 {
  font-family: 'Gloria Hallelujah', sans-serif !important;
}

/* footer */
.page-footer {
  font-size: .6rem;
  line-height: 1.2;
  color: $black-shade1;
  background-color: $white-color;
  font-family: 'Gloria Hallelujah', sans-serif !important;
}

.footer-copyright {
  width: 75%;
}



/* responsiveness
small
375 x 667

medium
768 x 1024    pending

large

1200 x 1600   pending
*/


/////////* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    width: 70vw !important;
  }

  .navbar {
    font-size: 1.7em;
  }

  #horbar {
    padding-top: 2vh;
    padding-bottom: 1vh;
    opacity: 0.5;
    width: 1500px;
  }

  /* homepage */
  #home-pic {
    max-width: 25vw;
    height: auto;
    margin-bottom: 4vh;
  }

  /* content */
  .content-container {
    position: relative;
    bottom: 5vh;
    width: 70vw !important;
  }

  /* resume */
  #res-img {
    display: inline-block;
  }
  #res-logo {
    width: 9vw;
    padding-bottom: 0;
  }
  
  .down-icon {
    width: 3vw;
    height: auto;
    display: inline !important;
  }

  #res-body {
    display: flex;
    width: 70vw !important;
    justify-content: space-between;
  }

  #chrono {
    width: 70%;
  }

  #pers {
    width: 30%;
    padding-left: 10px !important;
    padding-right: 0 !important;
    padding-top: 45px !important
  }

  #res-social-media {
    flex-direction: column;
    margin: 0 !important;
    text-align: center;
  }

  /* footer */
.page-footer {
  font-size: .8rem;
}



}




/////////* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  body {
    width: 60vw !important;
  }

  .navbar {
    font-size: 1.9em;
  }

  /* content */
  .content-container {
    position: relative;
    bottom: 2vh;
    padding-bottom: 1.2vh;
    width: 60vw !important;
  }
   /* resume */
   #res-body {
    display: flex;
    width: 60vw !important;
    justify-content: space-between;
  }

  #chrono {
    width: 70%;
  }

  #pers {
    width: 30%;
    padding-left: 10px !important;
    padding-right: 0 !important;
    padding-top: 65px !important
  }

  #res-social-media {
    flex-direction: row;
    margin: 0 !important;
    text-align: center;
  }

    /* footer */
.page-footer {
  font-size: .9rem;
}

  
}



