
/* global */
body {
  width: 80%;
}

/* navbar */
/* logo */
#ar-logo {
  width: 60px;
  height: auto;
}

/* navbar links */

a.nav-link {
  color: $black-shade1 !important;
}

a.nav-link:hover {
  color: $black-shade4 !important;
}

/* search bar */
#search-input {
  color: $black-shade1 !important;
}

#search {
  color: $black-shade1 !important;
  border-color: $black-shade1 !important;
}

#search:hover {
  color: $black-shade4 !important;
  border-color: $black-shade1;
  background-color: $black-shade2;
}



/* content */
.content-container {
  width: 95%;
  position: relative;
  bottom: 10vh;
  color: $black-shade1 !important;
}

/* home page */
#intro {
  width: 49%;
}

#pic {
  width: 49%;
}


/* blog page content */
.blog-header {
  background-color: $black-shade1;
  color: $black-shade4;
  font-family: "Ubuntu", "sans-serif";
  font-weight: 700;
  letter-spacing: .13em;
  line-height: 1.8;
  font-size: 1.3em;
}

ul.posts {
  padding-inline-start: 0;
}

ul.posts li {
  list-style: none;
  padding: 25px;
  margin-bottom: 12px;
}

.post-title {
  font-size: 1.5em;
  color: $brand-color;
}

.post-date {
  font-size: .9em;
  color: $black-shade3;
  font-weight: lighter;

}


/* resume page */
#res-header {
  padding: 40px 0 30px 20px;
}

#res-header h1 {
  display: inline;
}

#down-btn {
  float: right;
}

#resume {
  color: $black-shade1 !important;
}

#resume:hover {
  color: $black-shade4 !important;
}


#res-header h4 {
  margin: 15px 0;
}

#home {
  color: $black-shade1 !important;
  text-decoration: underline;
}

#home:hover {
  color: $black-shade4 !important;
}

#chrono {
  width: 60%;
}
#chrono h6 {
  font-size: .9em;
  font-weight: bold;
}

#chrono p {
  font-size: .88em;
}

#chrono ul {
  padding-left: 20px;
  font-size: .88em;
  margin-bottom: 20;
}

#pers {
  width: 40%;
  text-align: justify;
}

#pers h5 {
  font-size: .9em;
  font-weight: bold;
}

#pers p {
  font-size: .85em;
}
#pers ul {
  list-style: none;
  padding: 0;
  font-size: .85em;
}

#social-icons {
  color: $brand-color;
}

#social-icons:hover {
  color: $black-shade4 !important;
}

/* footer */
.page-footer {
  font-size: .8rem;
  line-height: 1.2;
  color: $black-shade1;
  background-color: $white-color;
}

.page-footer a {
  color: $black-shade2;
}

.page-footer a:hover {
  color: $black-shade4;
}

.footer-copyright {
  width: 75%;
}


