blockquote {
  margin: 0 auto;
  text-align: center;
  font-size: 1.3em;
  color: $black-shade4;
}



/* home page */
#intro {
  width: 49%;
}

#pic {
  width: 49%;
}




/* share bar */
.share-box {
  width: 75%;
  margin: 25px auto;
  text-align: right;
}

.share-icons {
  display: flex;
  justify-content: flex-end;
}
.share-icons a {
  text-align: right;
  display: block;
  margin: 0 8px 0 8px;
}

/* resume page */
#res-header {
  padding: 40px 0 30px 20px;
}

#res-header h1 {
  display: inline;
}

#down-btn {
  float: right;
}

#down-btn a {
  text-decoration: none;
}

#res-header h4 {
  margin: 15px 0;
}

#chrono {
  width: 60%;
}
#chrono h6 {
  font-size: .9em;
  font-weight: bold;
}

#chrono p {
  font-size: .88em;
}

#chrono ul {
  padding-left: 20px;
  font-size: .88em;
  margin-bottom: 20;
}

#pers {
  width: 40%;
  text-align: justify;
}

#pers h5 {
  font-size: .9em;
  font-weight: bold;
}

#pers p {
  font-size: .85em;
}
#pers ul {
  list-style: none;
  padding: 0;
  font-size: .85em;
}

/* footer */
.page-footer {
  font-size: .8rem;
  line-height: 1.2;
  color: $black-shade1;
  background-color: $white-color;
}

.footer-copyright {
  width: 75%;
}


