---
layout: default
title: Blog
lang: es
ref: blog
---
<div class="blog-header p-2 pt-3">
	<p>Bienvenido a mi blog, aqui guardo las guias que hago cuando aprendo algo, y con eso me ayudo a seguir mis huellas cuando hago un projecto similar. Espero que tambien te sirvan!
	</p>
</div>
<hr>


<section class="featured-posts">
	<div class="row">

		{% assign posts=site.posts | where:"lang", page.lang %}

		{% for post in posts %}

		{% include featuredbox.html %}

		{% endfor %}


	</div>
</section>
<hr class="mb-5">