---
layout: default
title: Blog
lang: en-US
ref: blog
---
<div class="blog-header p-2 pt-4">
	<p>Welcome to my blog, here I post the guides I make when I learn how to do something, these help me trace back my
		steps and I come back to them when I am doing a similar project. Hopefully, you'll find them useful too!</p>
</div>

<img class="img-fluid mx-auto" src="/assets/images/adrianLogos/hrb.svg" alt="Horizontal Bar" id="horbar">



<section class="featured-posts">
	<div class="row">

		{% assign posts=site.posts | where:"lang", page.lang %}

		{% for post in posts %}

		{% include featuredbox.html %}

		{% endfor %}


	</div>
</section>
<img class="img-fluid mx-auto mb-4" src="/assets/images/adrianLogos/hrb.svg" alt="Horizontal Bar" id="horbar">