---
layout: default
title: Blog
lang: en-US
ref: blog
---
<div class="blog-header p-2 pt-3">
	<p>Welcome to my blog, here I post the guides I make when I learn how to do something, these help me trace back my
		steps and I come back to them when I am doing a similar project. Hopefully, you'll find them useful too!</p>
</div>

<hr>



<section class="featured-posts">
	<div class="container-fluid">

		{% assign posts=site.posts | where:"lang", page.lang %}

		{% assign postsPro=posts | where:"categories", "project" %}
		{% assign postsNote=posts | where:"categories", "note" %}





		{% for post in postsPro %}
		<div class="row">
			<div class="col-1"><i class="fas fa-project-diagram fa-2x"></i></div>
			<div class="col-11"><h2 class="blog-cat">Projects</h2></div>
		</div>
		
		
		{% include featuredbox.html %}

		{% endfor %}

		{% for post in postsNote %}
		<div class="row">
			<div class="col-1"><i class="far fa-sticky-note fa-2x"></i></div>
			<div class="col-11"><h2 class="blog-cat">Notes</h2></div>
		</div>
		{% include featuredbox.html %}

		{% endfor %}


	</div>
</section>
