---
layout: default
comments: true
---

<h1 class="post-title pt-4 pb-3">{{ page.title }}</h1>
<div class=" post-data d-flex justify-content-between">
  <p class="post-date">{{ page.date | date_to_string }}</p>
  <p class="post-cat">{{ page.categories }}</p>
  <!--   <div class="post-categories">
    {% if post %}
    {% assign categories = post.categories %}
    {% else %}
    {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </div> -->
</div>
<img class="img-fluid mx-auto mb-2" src="/assets/images/adrianLogos/hrb.svg" alt="Horizontal Bar" id="horbar">
<div id="blog-post" class="mb-5">

  {% include  share.html %}

  {{ content }}

  <img class="img-fluid mx-auto mb-4" src="/assets/images/adrianLogos/hrb.svg" alt="Horizontal Bar" id="horbar">

  <div class="post-categories d-flex justify-content-between">
    <p class=""><a href="https://www.roblesadrian.com/pages/blog.html">More like this...</a></p>
  </div>

  <!-- {% include disqus.html %} -->

</div>